snippet process "process" b
process ${1} {
	publishDir  "$baseDir/nf_output", pattern: , mode: 
	conda "${CONDA_PREFIX}/envs/ "
	input:
		${2}
	output:
		${3}
	shell:
	'''
		${4}
	'''
}
endsnippet

snippet tbi "vcf index file" i
.vcf.gz.tbi
endsnippet

snippet vcf "vcf.gz" i
.vcf.gz
endsnippet
